<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERPPrintingApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERPPrintingApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ERPPrintingApplication.Properties.Settings.BarcodeDataConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\BarcodeData.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ERPPrintingApplication.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="SessionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="INVOICE_PRINTER" serializeAs="String">
                <value />
            </setting>
            <setting name="INVOICE_PRINTER_DRAWER" serializeAs="String">
                <value />
            </setting>
            <setting name="INVOICE_PRINTER_PAPER_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WAREHOUSE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LABEL_PRINTER" serializeAs="String">
                <value />
            </setting>
            <setting name="LABEL_PRINTER_DRAWER" serializeAs="String">
                <value />
            </setting>
            <setting name="LABEL_PRINTER_PAPER_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LABEL_PRINTER_PAPER_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RETURN_ADDRESS1" serializeAs="String">
                <value />
            </setting>
            <setting name="RETURN_ADDRESS2" serializeAs="String">
                <value />
            </setting>
            <setting name="INVOICE_PRINTER_PAPER_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="INVOICE_PRINTER_MARGIN_TOP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="INVOICE_PRINTER_MARGIN_LEFT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPS_IMPORT_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="UPS_WEIGHT_TYPE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPGRADE_TO_UPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPS_UPGRADE_WEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="REQ_ADULT" serializeAs="String">
                <value>False</value>
            </setting>
        </ERPPrintingApplication.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ERPPrintingApplication.Properties.Settings>
            <setting name="ERPPrintingApplication_MagentoSoapAPI_MagentoService"
                serializeAs="String">
                <value>http://www.northerner.com/index.php/api/V2_soap/index/</value>
            </setting>
        </ERPPrintingApplication.Properties.Settings>
    </applicationSettings>
</configuration>